*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html,body{
    width : 100%;
    height: 100%;
    background-color: snow;
   
}



#title{
    width: 100%;
    height: 100%;
   position: absolute;
   z-index: 9999999;
    font-family: 'Sacramento', cursive !important;
    background-color: rgb(255, 250, 249);
    animation: titleanim 1.5s cubic-bezier(0.19, 1, 0.22, 1) 3s   both;
}


#title h2{
    font-size: 75px;
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 100;
   color: rgb(255, 108, 199);
   animation: manim 1s cubic-bezier(0.19, 1, 0.22, 1) 2s   both;
}


.lines{
 width : 3px;
 height: 100%;
 background-color: rgb(171, 197, 246);
 position: absolute;
 animation: lineanim 2s cubic-bezier(0.19, 1, 0.22, 1) 1s   both;
}


#line1{
    left : 20%;
    top : 0;
}


#line2{
    right: 20%;
    bottom : 0;
}


@keyframes lineanim{
    from{
        height: 100%;
    }
    to{
        height: 0%;
    }
}

@keyframes manim{
    from{
       
        transform: translate(-50%,-50%) scale(1);
    }
    to{
     
       transform: translate(-50%,-50%) scale(0);
    }
}

@keyframes titleanim{
    from{
           height: 100%;
            opacity: 1;

    }
    to{
           height: 0%;
            opacity: 0;
    }
}







nav{
    width: 100%;
    height: 80px;
    background-color:snow;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h3{
    font-weight: 400;
    color: rgb(132, 179, 212);
    font-size: 20px;
}

nav h3 b{
    color: rgba(224, 97, 175, 0.774);
}

nav button{
    padding : 8px 20px;
    margin-right: 20px;
    background-color: transparent;
    border: 2px solid  rgb(243, 183, 220);
    font-size: 15px;
    font-weight: 600;
    border-radius: 3px;
    color: rgba(194, 79, 150, 0.746);

}
#top{
    width: 100%;
    height: 60%;
    background-color: rgb(171, 214, 129);
    background-position: center;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1462275646964-a0e3386b89fa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80');
    background-position-x: left;
    background-size: cover
    opacity: ;
}

#layout{
    width : 100%;
    height: 100%;
    background-image: linear-gradient(to left, transparent, rgba(253, 201, 255, 0.548), rgb(253, 201, 255) );
    position: relative;
}

#email{
   
    width: 300px;
   
}

#heading h3{
    font-size: 40px;
    color: rgba(184, 80, 144, 0.87);
    font-weight: 400;
    line-height: 55px;
    
}

#heading h3 b{
    color: rgb(146, 52, 110);
}

.yess{
    border: 2px solid rgb(255, 222, 233);
    border-radius: 4px;
    height: 35px;
    margin-top: 20px;
    
}

#login{
    width: 100px;
    background-color: white;
    color: rgb(236, 176, 191);
    font-weight: 700;
}

#heading{
    position: absolute;
    left: 40px;
    top: 130px;
}

.circle{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background-color:snow;
    z-index: 44;
    position: relative;
    
}

#show{
    padding: 60px 30px;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 222, 233);
    clip-path: polygon(0 0, 100% 0%, 100% 76%, 0 100%);
   
}

#collage{
    width : 100%;
    height: 60%;
    text-align: center;
    padding-top: 150px;
  
}

.pimg{
    width: 83%;
    height: 83%;
    border-radius: 50%;
    position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   box-shadow: 0 5px 12px gray;
   background-size: cover;
   
}

#img1{
   
   background-position: center;
   opacity: 0.8;
    background-image: url('https://images.unsplash.com/photo-1541093113199-a2e9d84e903f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1535&q=80');
}

#img2{
    background-position: center;
    opacity: 0.8;
    background-image: url('https://images.unsplash.com/photo-1491866766009-1292fd127204?ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80');
}

#img3{
    background-position: center;
    opacity: 0.8;
    background-image: url('https://images.unsplash.com/photo-1462275646964-a0e3386b89fa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80');
}

#img4{
    background-position: right;
    opacity: 0.8;
    background-image: url('https://images.unsplash.com/photo-1464693117936-6dada4d0523b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
}

#collage h3{
    font-size: 70px;
    font-weight: bolder;
    color:rgba(79, 125, 184, 0.486);
 
    
}

#offer{
    width: 100%;
    min-height: 100px;
   background-color: ;
   text-align: center;
   padding : 40px 0px;
  
}

#xmas{
    font-size: xx-large;
    font-weight: 300;
    color: rgba(255, 108, 199, 0.863);
   margin-bottom: 20px;
    
}

#show2{
    padding: 60px 30px;
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(206, 232, 251);
    clip-path: polygon(0 24%, 100% 0%, 100% 100%, 0 100%);
   
  
  
   
}

#blue{
    color: rgb(132, 179, 212);
}

#img11{
    opacity: 0.8;
    background-image: url('https://images.unsplash.com/photo-1503153181849-4e4f85a341ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1482&q=80');
}

#img22{
    background-position: center;
    opacity: 0.8;
    background-image: url('https://images.unsplash.com/photo-1517008998633-21da3fdf46aa?ixlib=rb-1.2.1&auto=format&fit=crop&w=662&q=80');
}

#img33{
    background-position: center;
    opacity: 0.8;
    background-image: url('https://images.unsplash.com/photo-1551298623-42a8125980f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80');
}

#img44{
    background-position: bottom;
    opacity: 0.8;
    background-image: url('https://images.unsplash.com/photo-1556890338-d0f2f5adf185?ixlib=rb-1.2.1&auto=format&fit=crop&w=658&q=80');
}
#satisfy{
    width: 100%;
   min-height: 200px;
    
    font-size: 23px;
    padding : 40px 0px;
    text-align: center;
   
}

#satisfy h3{
    font-weight: 400;
    line-height: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    color: rgba(46, 31, 44, 0.671);
}

footer{
    width: 100%;
    height: 300px;
    background-color: rgba(238, 200, 200, 0.589);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
}

.links{
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 13px;


}
.links a{
    padding-bottom: 25px;
    color: rgb(148, 91, 105);
}